#Este archivo es necesario para configurar los limites de procesadores y memoria del servidor.
#Ajustarlo de acuerdo a las características técnicas de su servidor
#
#
process {
    executor = 'slurm'
    queue = 'main'
    
    // DEFAULT: Small jobs (like quality control)
    cpus = 4
    memory = '8 GB'
    time = '4h'

    // ASSEMBLY: Give full power to Flye/Canu/Spades
    withLabel: 'process_high' {
        cpus = 48
        memory = '450 GB'
        time = '48h'
    }

    // MEDIUM: alignments, polishing
    withLabel: 'process_medium' {
        cpus = 16
        memory = '64 GB'
        time = '12h'
    }
}

// Ensure Docker is used (fixes your previous "missing binary" errors)
docker {
    enabled = true
}
